body {
	position: relative;
	font-size: 18px;
    margin: 60px auto;
    width: 80%;
	min-height: 100%;
	padding-bottom: 60px;	/* Height of the footer */
	font-family: Times new roman,-apple-system,BlinkMacSystemFont,SimSun,sans-serif;
}
/*	Navigation Bar  */
nav ul {
    font-family: Times new roman,-apple-system,BlinkMacSystemFont,SimSun,sans-serif;
    padding: 0;
	margin: 0;
	overflow: hidden;
    list-style-type: none;
    font-weight: bold;
	background-color: #00cc44;
}
nav ul li {
    display: inline;
	float: left;
	text-decoration: none;
}
nav ul li a {
	display: block;
	color: #ffffff;
	padding: 20px;
	text-align: center;
	text-decoration: none;
}
nav ul li a:hover {
	background-color: #00802b;
	text-decoration: none;
}

/*	Footer Settings  */
footer {
	position: absolute;
    border-top: 0 solid #00663f;
    font-size: 0.6em;
}
footer ul {
    font-family: Times new roman,-apple-system,BlinkMacSystemFont,SimSun,sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 25px;
    font-family: Times new roman,-apple-system,BlinkMacSystemFont,SimSun,sans-serif;
}
p {
    font-size: 1.1em;
    line-height: 1em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 16px;
    line-height: 0.5em;
}

ul.posts li {
    list-style: none;
}

