body {
	position: relative;
	font-size: 16px;
    margin: 60px auto;
    width: 80%;
	min-height: 100%;
	padding-bottom: 60px;	/* Height of the footer */
	font-family: Times new roman,-apple-system,BlinkMacSystemFont,SimSun,sans-serif;
}
nav ul {
    font-family: Times new roman,-apple-system,BlinkMacSystemFont,SimSun,sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul {
    font-family: Times new roman,-apple-system,BlinkMacSystemFont,SimSun,sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
	align: center;
	margin-left: 10px;
    margin-right: 10px;
	margin-bottom: 10px;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 25px;
    font-family: Times new roman,-apple-system,BlinkMacSystemFont,SimSun,sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
	position: absolute;
    border-top: 0 solid #00663f;
    font-size: 0.7em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 16px;
}

ul.posts li {
    list-style: none;
}

.header-img {
	max-width: 50px;
	border: 0px solid #fff;
	border-radius: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
