body {
	position: relative;
	font-size: 16px; /* Note: Affect the nav-bar font-size */
    margin: 60px auto;
    width: 80%;
	min-height: 100%;
	padding-bottom: 60px;	/* Height of the footer */
    font-family: Times, Lucida, Tahoma, Arial;
}
/*	Navigation Bar Settings  */
nav ul {
    font-family: Times, Lucida, Tahoma, Arial;
    padding: 0;
	margin: 0;
	overflow: hidden;
    list-style-type: none;
    font-weight: bold;
	background-color: #00cc44;
}
nav ul li {
    display: inline;
	float: left;
	text-decoration: none;
}
nav ul li a {
	display: block;
	color: #ffffff;
	padding: 20px;
	text-align: center;
	text-decoration: none;
}
nav ul li a:hover {
	background-color: #00802b;
	text-decoration: none;
}

/*	Footer Settings  */
footer {
	position: absolute;
    border-top: 0 solid #00663f;
    font-size: 0.65em;
}
footer ul {
    font-family: Times, Lucida, Tahoma, Arial;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}

/* General Settings - Affect !! All !! Site  */
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5 {
    font-family: Times, Lucida, Tahoma, Arial;
}
p {
	font-family: Times, Lucida, Tahoma, Arial;
    font-size: 1.4em;
    line-height: 1.2em;
    text-decoration: none;
    color: #000000;
}

/*	Blog-Post List Settings  */
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
    line-height: 1.2em;
}
ul.posts li {
    list-style: none;
}

.post-wrapper .post-single .post-body p{
	font-family: Times, Lucida, Tahoma, Arial;
    font-size: 0.9em;
    line-height: 1.2em;
    text-decoration: none;
    color: #000000;
}

