<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
				
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="activity-event">ELECTRIC CITY HACKS, Peterborough ON</h3>
                            <div class="time">November 2016</div>
                        </div><!--//upper-row-->
                        <div class="activity-title">Team <a href="https://devpost.com/software/journe-0mo4wg" target="_blank">journé</a></i></div>
                    </div><!--//meta-->
                    <div class="details">
						<ul style="list-style-type:square">
							<li>Built a social Android app with teammates in 36 hours</li>
							<li>Furthered communication and teamwork skills during the event</li>
							<li>Adapted basic Java, Python, mySQL and UI design skills during the event</li>
						</ul>
					</div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="activity-event">UW Robotics Team, Waterloo ON</h3>
                            <div class="time">September 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="activity-title">Electrical &amp; Software Team</div>
                    </div><!--//meta-->
                    <div class="details">
						<ul style="list-style-type:square">
							<li>Constructed a Line Following Music Player with fellow engineers</li>
							<li>Attended weekly meetings to design and construct robot</li>
							<li>Developed communication, teamwork, and leadership skills via working with fellow engineers</li>
						</ul>
					</div><!--//details-->
                </div><!--//item-->				
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="activity-event">Hack the North, Waterloo ON</h3>
                            <div class="time">September 2016</div>
                        </div><!--//upper-row-->
                        <div class="activity-title">Volunteer in team <i>Floor Patrol &amp; Food</i></div>
                    </div><!--//meta-->
                    <div class="details">
						<ul style="list-style-type:square">
							<li>Assisted hundreds of hackers during the event and answered most arose questions</li>
							<li>Set up food station and distrubuted lunch to more than 1,000 participants with fellow volunteers</li>
							<li>Ensured snack and coffee supplies on responsible floor were always replenished</li>
						</ul>
					</div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="activity-event">FIRST LEGO League, Waterloo ON</h3>
                            <div class="time">January 2016</div>
                        </div><!--//upper-row-->
                        <div class="activity-title">Volunteer as <i>Judge Assistant</i></div>
                    </div><!--//meta-->
                    <div class="details">
						<ul style="list-style-type:square">
							<li>Assisted arranging full day judging sessions, and preparing judging rooms</li>
							<li>Ensured 30 teams were sent to correct judging places at the correct time</li>
						</ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->