<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Volunteer Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="volunteer-event">Hack the North, Waterloo ON</h3>
                            <div class="time">September 2016</div>
                        </div><!--//upper-row-->
                        <div class="volunteer-title">Volunteer in team <i>Floor Patrol &amp Food </i></div>
                    </div><!--//meta-->
                    <div class="details">
						<ul style="list-style-type:square">
							<li>Assisted hundreds of hackers during the event and answered most arose questions</li>
							<li>Set up food station and distrubuted lunch to more than 1,000 participants with fellow volunteers</li>
							<li>Ensured snack and coffee supplies on responsible floor were always replenished</li>
						</ul>
					</div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="volunteer-event">FIRST LEGO League, Waterloo ON</h3>
                            <div class="time">January 2016</div>
                        </div><!--//upper-row-->
                        <div class="volunteer-title">Volunteer as <i>Judge Assistant</i></div>
                    </div><!--//meta-->
                    <div class="details">
						<ul style="list-style-type:square">
							<li>Assisted arranging full day judging sessions, and preparing judging rooms</li>
							<li>Ensured 30 teams were sent to correct judging places at the correct time</li>
						</ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="volunteer-event">Random Act of Kindness Day, Waterloo ON</h3>
                            <div class="time">November 2015</div>
                        </div><!--//upper-row-->
                        <div class="volunteer-title">Volunteer on project <i>Learn how to write your name in Mandarin</i></div>
                    </div><!--//meta-->
                    <div class="details">
						<ul style="list-style-type:square">
							<li>Established interpersonal and presentation skills for teaching over 20 people with different backgrounds</li>
						</ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->