<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

                <div class="item">
                    <span class="project-title"><p>journé</p></span> - <span class="project-tagline">A social Android app with real-time map system built in 36 hours</span>
					<li>Developed a backend server code to increase the security of users' information</li>
					<li>Debugged the user creation and log-in function of the application</li>
					<li>Tested the user location and points synchronization</li>
				</div><!--//item-->
				
                <div class="item">
                    <span class="project-title"><p>Line Following Music Player</p></span> - <span class="project-tagline">A robot with multiple sensors to auto-maneuver, convert greyscale strip to music notes </span>
					<li>Coordinated working progress of Electrical and Software Team</li>
					<li>Designed and implemented electric circuit board of the robot</li>
					<li>Participated in the selection of every electronic and mechanical components of the robot</li>
                </div><!--//item-->
				
                <div class="item">
                    <span class="project-title"><p>pwyq.github.io</p></span> - <span class="project-tagline">A personal website build in progress</span>
					<li>Built the website in HTML5 and CSS3 following online tutorials in one day</li>
					<li>Implemented statistics analysis and comment function</li>
					<li>Furthered the understanding of Git command</li>
                </div><!--//item-->
            </section><!--//section-->
			