<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary of Qualifications</h2>
<div class="summary">
	<ul style="list-style-type:square">
		<li>Built an Android app with teammates in the first Hackathon</li>
		<li>Designed and constructed a Line Following Music Player with fellow engineers</li>
		<li>Learnt to construct personal static website in one day in HTML &amp; CSS (without templates)</li>
		<li>Manage time effectively to meet deadlines of multiple extracurricular events</li>
		<li>Excellent academic standing with GPA: 3.9/4.0 </li>
		<li>Proficient in C++, HTML, CSS, Python | Windows OS, Ubuntu Linux OS </li>
		<li>Familiar with Java, C, JavaScript, MySQL </li>
	</ul>
</div><!--//summary-->
</section><!--//section-->