<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary of Qualifications</h2>
<div class="summary">
	<ul style="list-style-type:square">
		<li>Adapt with new work environment quickly; built a mobile app with teammates in the first personal Hackathon</li>
		<li>Work well under pressure as part of a team; construct a line-following music player with peers in 1A term</li>
		<li>Quick and self-driven learner; construct personal website in two days</li>
		<li>Manage time effectively to meet deadlines of multiple extracurricular events; 1A midterm with 96.5 average</li>
	</ul>
</div><!--//summary-->
</section><!--//section-->