{% comment %}
Custom head.
{% endcomment %}
<script>
    document.addEventListener("DOMContentLoaded", function() {

        $(".site-nav-toggle").after($("<div>").attr("id", "fortune").css("display", "none"));

        var _sel = $("#fortune");
        $.getJSON( "https://api.github.com/gists/dff8ba5bcb48bd5ea3a8cc4ad2cc456c", function(data) {

            var fortunes = JSON.parse(data.files["fortunes.json"].content);
            var randomFortune = fortunes[ Math.floor(Math.random() * fortunes.length) ];
            var italicResult = randomFortune.content.italics();
            var longSpace = "<span style=\"display:inline-block; width: 20px;\"></span>";
            if ( randomFortune.source === undefined ) {
                _sel.html( longSpace + italicResult );
            } else {
                _sel.html( longSpace + italicResult + longSpace +
                                    "&mdash; " + randomFortune.source );
            }
            _sel.velocity("slideDown", { duration: 400, easing: "easeOutQuad" });
        });
    });
</script>