<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="activity-event">DeepSubconscious.ai, Inc. | Waterloo, ON</h3>
                            <div class="time">Jul 2017 - Aug 2017</div>
                        </div><!--//upper-row-->
                        <div class="activity-title">Research And Development Intern</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul style="list-style-type:square">
                            <li>Wrote a ROI (Return on Investment) model of work performance for cost-effectiveness analysis</li>
                            <li>Conducted market reports of work performance on potential business-to-business customers</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="activity-event">Ethica Data, Inc. | Kitchener, ON</h3>
                            <div class="time">May 2017 - Jul 2017</div>
                        </div><!--//upper-row-->
                        <div class="activity-title">Software Developer Intern</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul style="list-style-type:square">
                            <li>Developed an iOS app for beacon monitoring, connection and configuration; the app supports multiple beacon brands' products simultaneously</li>
                            <li>Developed sorting and decryption algorithm on iOS & Android for filtering Ethica-belonged beacons</li>
                            <li>Conducted comprehensive market research on all mainstream beacon brands' products</li>
                            <li>Wrote technical documentations on beacon activation and configuration for guiding public users</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="activity-event">UW Robotics Team, Waterloo ON</h3>
                            <div class="time">Sep 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="activity-title">Electrical &amp; Software Team</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul style="list-style-type:square">
                            <li>Contributed to <a href="https://www.youtube.com/watch?v=xi5wFZ1SiKU"><i>Mars Rover 2017</i></a> for University Rover Challenge (ranked 2<sup>nd</sup> in Canada, 15<sup>th</sup> in the world)</li>
                            <li>Wrote an object tracking program to track moving object from a camera input</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->