<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="activity-event">Ethica Data, Kitchener ON</h3>
                            <div class="time">May 2017 - July 2017</div>
                        </div><!--//upper-row-->
                        <div class="activity-title">iOS Developer</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul style="list-style-type:square">
                            <li>Created an iOS app that supports multiple beacon brands for beacon monitoring, connecting and settings-modifying</li>
                            <li>Developed sorting and decrypting algorithm for filtering Ethica-belonged beacons on iOS and Android</li>
                            <li>Conducted comprehensive market research for all mainstream beacon brands' products</li>
                            <li>Wrote technical documentations for public users on beacon activating, setting and app-using</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="activity-event">DeepSubconscious, Waterloo ON</h3>
                            <div class="time">July 2017 - August 2017</div>
                        </div><!--//upper-row-->
                        <div class="activity-title">Research Assistant</div>
                    </div><!--//meta-->
                    <div class="details">
						<ul style="list-style-type:square">
							<li>Conducted in-depth market research on work performance and workplace happiness for potential B2B targets</li>
                            <li>Wrote a ROI model of workplace happiness for cost-effectiveness analysis in business management</li>
						</ul>
					</div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="activity-event">UW Robotics Team, Waterloo ON</h3>
                            <div class="time">September 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="activity-title">Electrical &amp; Software Team</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul style="list-style-type:square">
                            <li>Contributed in the project of Mars Rover 2017 with 40+ members who comes from various majors</li>
                            <li>Built an object tracking program to track moving object from camera input</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->