<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

                <div class="item">
                    <span class="project-title">Real-Time Tennis Ball Tracking</span> - <span class="project-tagline">A program that tracks movements of tennis balls from a camera input</span>
					<li>Built a program using Contour tracking algorithms that achieves target object in each video frame</li>
					<li>Implemented Watershed algorithmto segment touching or overlapping balls so that multiple balls can be detected</li>
					<li>Enhanced the result of tracking via thresholding and applying erosions and dilations</li>
				</div><!--//item-->
				
                <div class="item">
                    <span class="project-title">pwyq's Space</span> - <span class="project-tagline">A personal website build in progress</span>
					<li>Created a static website which based on Github Page</li>
					<li>Implemented Google Analytics to track website visits, and Disqus to enable users to comment</li>
                </div><!--//item-->
				
                <div class="item">
                    <span class="project-title">Line Following Music Player</span> - <span class="project-tagline">A robot with multiple sensors to auto-maneuver, convert greyscale strip to music notes</span>
					<li>Designed and implemented an electric circuit of the robot, including R2R Bridge design that performs digital-to-analog conversion to drive speaker, and filtering circuit design that enhances signals to output clear music notes</li>
					<li>Assembled the robot by soldering necessary components and wiring up motors, speak and sensors</li>
					<li>Participated in the selection of every electronic and mechanical components of the robot</li>
                </div><!--//item-->
            </section><!--//section-->
			