<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary of Qualifications</h2>
<div class="summary">
	<ul style="list-style-type:square">
		<li><b>Languages</b>: C++, Python, Swift, Java, Assembly Language (ARM), VHDL, SQL</li>
		<li><b>Frameworks</b>: OpenCV, Angular, Socket.io, jQuery</li>
		<li><b>Tech/Tools</b>:Git, Vim, VS Code, Xcode, Android Studio, Quartus Prime, PostgreSQL, WebStorm</li>
		<li><b>Operating Systems</b>: Linux (Ubuntu, Arch), Windows, macOS, Android, iOS, ROS</li>
		<li>Excellent time management skills acquired through active involvement in various extracurricular activities</li>
		<li>Hard-working and diligent individual who has a passion for new technologies</li>
		<li>Experienced with building mobile apps and static website</li>
		<li>Fundamental understanding of building robot</li>
	</ul>
</div><!--//summary-->
</section><!--//section-->