<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary of Qualifications</h2>
<div class="summary">
	<ul style="list-style-type:square">
		<li><b>Languages</b>: C++, Swift, Python, Java, JavaScript, VHDL, HTML, CSS</li>
		<li><b>Frameworks/Libraries</b>: Ubuntu Linux OS, Windows OS, Mac OS, iOS, Android, ROS, OpenCV, jQuery</li>
		<li><b>Technologies/IDEs</b>:Git, Xcode, Android Studio, Quartus Prime, Visual Studio, Arduino</li>
		<li>Excellent time management skills acquired through active involvement in various extracurricular activities</li>
		<li>Hard-working and diligent individual who has a passion for new technologies</li>
		<li>Experienced with building mobile apps and static website</li>
		<li>Experienced with building robot</li>
	</ul>
</div><!--//summary-->
</section><!--//section-->