<!DOCTYPE html>
<html lang="en">
	{% include header.html %}
	<body>
		<a href="/" class="logo-link"><img src="/assets/images/header_dog.png"></a>
		<nav>
			<ul class="nav nav-list">
				<li class="nav-list-item"><a href="/" target="_self" class="nav-list-link">HOME</a></li>
				<li class="nav-list-item"><a href="/blog" target="_self" class="nav-list-link">BLOG</a></li>
				<li class="nav-list-item"><a href="/archives" target="_self" class="nav-list-link active">ARCHIVE</a></li>
				<li class="nav-list-item"><a href="/about" target="_self" class="nav-list-link">ABOUT</a></li>
				<li class="nav-list-item"><a href="https://github.com/pwyq" target="_blank" class="nav-list-link">GITHUB</a></li>
				<li class="nav-list-item"><a href="/cv" target="_self" class="nav-list-link">CV</a></li>
			</ul>
		</nav>
		<div class="container">
			{{ content }}
		{% include footer.html %}
		</div><!-- /.container -->
		<!-- MathJax -->
		<script async src="//cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-MML-AM_CHTML">
	</body>
</html>
